<%= title @board.name %>

<div class="header hidden-small">
	<h1><%= @board.name %></h1>
	<h2><%= @board.desc %></h2>
</div>

<div class="mobile-header visible-small">
	<b><%= @board.name %></b><br><%= @board.desc %>
</div>

<div class="board">

	<table id="msgtable">
	<% @messages.each do |m| %>
		<tr>
			<td class='id'><%= m.id %></td>
			<td class='name'><%= m.username %>:</td>
			<td><%= m.content %></td>
		</tr>
	<% end %>
	</table>

	<%= form_for(Message.new, html: {class: "pure-form"}, remote:true) do |f| %>
		<fieldset>
			<%= hidden_field_tag :board, @board.id %>
			<%= hidden_field_tag :owner, current_user.id %>
			<%= hidden_field_tag :username, current_user.name %>
      <%= f.text_field :content, placeholder: "Hello world!", style: "width:85%", autofocus:true %>
    	<%= f.submit "Send", class: "pure-button pure-button-primary hidden-small", style:"margin-top:20px;" %>
 		</fieldset>
	<% end %>

</div>

<style>
body {
	overflow:hidden;
}
</style>

<script>
	var deskoffset = 190;
	var mobileoffset = 115;
	var interval = 500;
	var board = <%= @board.id %>
	var title = '<%= @board.name %> - Chattr'

	// Set height of .board to a function of the size of the window, keep scrolled to bottom.
	$(document).ready(function () {
		resize();
	});
	$(window).resize(function () {
		resize();
	});

	function resize() {
		var height = $(window).height();
		offset = deskoffset;
		if ($('.header').css('display') === 'none') {offset = mobileoffset};
		$('.board').css('height', height-offset);
		$('.board').scrollTop($('.board')[0].scrollHeight)
	}

	// Auto updater, check for new messages and posts them
	function updateChat() {
		var last = $('#msgtable tr:last td').html();
		var url = '/messages/get/' + board + '/' + last;
		$.getJSON(url, function(data) {
			if (data[0] != undefined && data[0].id != $('#msgtable tr:last td').html()) {
				$.each(data, function(d) {
					 post(data[d].id, data[d].username, data[d].content)
				});
			}
		});
	}

	// Append message to bottom of table
	function post(id, name, content) {
		$('#msgtable tr:last').after('<tr><td class="id">' + id + '</td><td class="name">' + name + ':</td><td>' + content + '</td></tr>')
		$('.board').scrollTop($('.board')[0].scrollHeight)
	}

	// Run the update every <interval> ms
	var checker = window.setInterval(function() { updateChat(); }, interval)

	// Run updates at 1/5th speed when window is not in focus
	$(window).blur(function() {
		clearInterval(checker);
		checker = window.setInterval(function() { updateChat(); }, interval*5)
	})
	$(window).focus(function() {
		clearInterval(checker);
		checker = window.setInterval(function() { updateChat(); }, interval)
	})

</script>