<div class="header">
	<h1><%= @board.name %></h1>
	<h2><%= @board.desc %></h2>
</div>

<div class="board">
	<table id="msgtable">
	<% @messages.each do |m| %>
		<tr>
			<td style="padding-right:10px;color:#ccc"><%= m.id %></td>
			<td style="text-align:right;padding-right:10px"><%= m.username %>:</td>
			<td><%= m.content %></td>
		</tr>
	<% end %>
	</table>

	<%= form_for(Message.new, html: {class: "pure-form"}, remote:true) do |f| %>
		<fieldset>
			<%= hidden_field_tag :board, @board.id %>
			<%= hidden_field_tag :owner, current_user.id %>
      <%= f.text_field :content, placeholder: "Hello world!", style: "width:85%", autofocus:true %>
    	<%= f.submit "Send", class: "pure-button pure-button-primary", style:"margin-top:20px;" %>
 		</fieldset>
	<% end %>
</div>

<style>
body {
	overflow:hidden;
}
</style>

<script>
	var offset = 190;
	var board = <%= @board.id %>

	$(document).ready(function () {
		var height = $(window).height();
		$('.board').css('height', height-offset);
		$('.board').scrollTop($('.board')[0].scrollHeight)
	});

	$(window).resize(function () {
		var height = $(window).height();
		$('.board').css('height', height-offset);
		$('.board').scrollTop($('.board')[0].scrollHeight)
	});

	window.setInterval(function(){
		updateChat();
	}, 1000)

	function updateChat() {
		var last = $('#msgtable tr:last td').html();
		var url = '/messages/get/' + board + '/' + last;
		// console.log(board);
		$.getJSON(url, function(data) {
			if (data[0] != undefined) {
				$.each(data, function(d) {
					$('#msgtable tr:last').after('<tr><td>' + data[d].id + '</td><td>' + data[d].username + '</td><td>' + data[d].content + '</td></tr>') 
					$('.board').scrollTop($('.board')[0].scrollHeight)
				});
			}
		});
	}
</script>